<h1>New Book</h1>

<%= render 'form', book: @book %>

<%= form_with scope: :article, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :ISBN %>
  </p>

  <p>
    <%= form.text_area :author %><br>
    <%= form.text_area :category %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<!-- <%= link_to 'Back', books_path %> -->
